.content {
    grid-column: 2;
    grid-row: 2;
    width: 50vw;
    background-color: rgb(176, 216, 216);
    height: 50vh;
}

.inpText {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    height: 10%;
}
